html, body{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#section1 img{
    height: 600px;
}

#section2{
    padding: 70px 0;
}

#section3{
    padding: 70px 0;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #3ecccd;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link{
    color: #3ecccd;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #008000;
}

.navbar-light .navbar-nav .nav-link:active{
    color: #008000;
}

footer p.text-light{
    font-size: 20px;
    letter-spacing: 1px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  #blog-page #sectionone{
      padding: 70px;
  }

  .formBox{
	margin-top: 90px;
	padding: 50px;
}
.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 48px;
}
.inputBox{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.inputBox .inputText{
	position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}
.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #00bcd4;

}
textarea{
	height: 100px !important;
}
.button{
	width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}

#section-services1{
    padding: 70px;
}

@media screen and (max-width: 1500px) {
    #section1 img{
        height: 580px;
    }
    
} /* media max width 1500px */

@media screen and (max-width: 992px) {
    #section1 img{
        height: 300px;
    }

    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    
}/* media max width 992px */

@media screen and (max-width: 600px) {
    #section1 img{
        height: 250px;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
    
}/* media max width 600px */
